# For development inside a dev container, .devcontainer/.env should be populated with required environment variabes outlined in ../.env.example
# Additionally, the folowing vairables are recommended for development

# Used to run diesel migrations via disel-cli
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}/${postgres}

# Used to run tests against test  database set up on ./compose.yml
TEST_POSTGRES_HOST=framerate-test-database
TEST_POSTGRES_USER=postgres
TEST_POSTGRES_DB=postgres
TEST_POSTGRES_PASSWORD=password
